@charset "utf-8";
@font-face {
  font-family: 'Cocon Next Arabic';
  src: url('~@/assets/fonts/CoconNextArabic-Light.woff2') format('woff2'),
  url('~@/assets/fonts/CoconNextArabic-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cocon Next Arabic';
  src: url('~@/assets/fonts/CoconNextArabic-Bold.woff2') format('woff2'),
  url('~@/assets/fonts/CoconNextArabic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cocon Next Arabic';
  src: url('~@/assets/fonts/CoconNextArabic-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/CoconNextArabic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #6FA3D2;
  --secondary: #E4F5FF;
}

// Set your brand colors
$blue: #6FA3D2;
$cyan: #E4F5FF;
$cyan-invert: findColorInvert($cyan) !default;

// Update Bulma's global variables
$body-size: 20px;
$family-sans-serif: 'Cocon Next Arabic', sans-serif;
$primary: $blue;
$custom-colors: ("secondary":($cyan, $cyan-invert));

// Import only what you need from Bulma
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/section.sass";
