@charset "utf-8";
$rtl: true;

@font-face {
  font-family: 'Cocon Next Arabic';
  src: url('~@/assets/fonts/CoconNextArabic-Light.woff2') format('woff2'),
  url('~@/assets/fonts/CoconNextArabic-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cocon Next Arabic';
  src: url('~@/assets/fonts/CoconNextArabic-Bold.woff2') format('woff2'),
  url('~@/assets/fonts/CoconNextArabic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cocon Next Arabic';
  src: url('~@/assets/fonts/CoconNextArabic-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/CoconNextArabic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #6FA3D2;
  --secondary: #E4F5FF;
}

// Set your brand colors
$blue: #6FA3D2;
$cyan: #E4F5FF;
$cyan-invert: findColorInvert($cyan) !default;

// Update Bulma's global variables
$body-size: 20px;
$family-sans-serif: 'Cocon Next Arabic', sans-serif;
$primary: $blue;
$custom-colors: ("secondary":($cyan, $cyan-invert));
$navbar-background-color: rgba(255, 255, 255, 0);
$navbar-height: 6rem;
$letter-size: 100px;

// Import only what you need from Bulma
@import "~bulma/bulma.sass";
@import "~bulma-steps-component/bulma-steps.sass";
@import "~bulma-pageloader/src/sass/index";

.letter {
  position: relative;
  width: $letter-size;
  height: $letter-size;
  border-radius: 50%;
  background-color: $primary;
  text-align: center;
  line-height: $letter-size;
  font-size: 3em;
  color: $white;

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px dashed $white;
    border-radius: 50%;
  }
}

.fill-height {
  height: 100%;
}

.card {
  &.is-secondary {
    background-color: $cyan;
  }
}
